<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="static/buildmap.js"></script>
    <script type="text/javascript" src="static/maze-navigation.js"></script>
    <title>{{systemname}}</title>
</head>

<body>
    <h1 style="color: blue">{{systemname}}</h1>

    <form>
        <div class="grid-container">
            {%- for inp_list in formdata %}
            <div class="form-columns">
                {%- for inp in inp_list %}
                {%- if inp.type == "numeric" %}
                <div class="input-element">
                    <div class="input-field">
                        {{inp.text_name}}:
                    </div>
                    <input class="numeric-input" type="text" value="{{inp.default}}" id="{{inp.field_name}}" name="{{inp.field_name}}">
                </div>
                {%- elif inp.type == "box" %}
                <div class="input-element">
                    <div class="input-field">
                        {{inp.text_name}}:
                    </div>
                    <select class="box" id="{{inp.field_name}}" name="{{inp.field_name}}">
                        {%- for choice in inp.choices %}
                        {%- if choice == inp.default %}
                        <option selected value="{{choice}}">{{choice}}</option>
                        {%- else %}
                        <option value="{{choice}}">{{choice}}</option>
                        {%- endif %}
                        {%- endfor %}
                    </select>
                </div>
                {%- elif inp.type == "box_text" %}
                <div class="input-element">
                    <div class="input-field">
                        {{inp.text_name}}:
                    </div>
                    <select class="box-text" id="{{inp.field_name}}" name="{{inp.field_name}}">
                        {%- for i in range(inp.choices|length) %}
                        {%- if inp.choices[i] == inp.default %}
                        <option selected value="{{inp.choices[i]}}">{{inp.choice_names[i]}}</option>
                        {%- else %}
                        <option value="{{inp.choices[i]}}">{{inp.choice_names[i]}}</option>
                        {%- endif %}
                        {%- endfor %}
                    </select>
                </div>
                {%- elif inp.type == "button" %}
                <button type="button" class="submit-button" onclick="{{inp.action}}">{{inp.name}}</button>
                {%- endif %}
                {%- endfor %}
            </div>
            {%- endfor %}
        </div>
    </form>

    <div id="map">

    </div>

    <button  class="submit-button" onclick="map_download()">Download</button>
</body>

</html>